html {
    background: aliceblue;
    width: 240px;
}

.title {
    font-size: 17px;
    font-weight: bold;
    color: black;
    font-family: Georgia;
    padding: 15px;
    text-align: center;
    height: 0px
}

#currCO2 {
    font-family: 'Garamond';
    height: 20px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: darkslategrey;
}

.co2scale {
    position: relative;
    background: rgb(28,36,196);
    background: linear-gradient(90deg, rgba(76,101,199,1) 13%, rgba(97,228,127,1) 51%, rgba(234,250,104,1) 79%);
    height: 25px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#dial {
    display: block;
    background: midnightblue;
    width: 9px;
    height: 30px;
    left: 100px;
    bottom: 0px;
    position: absolute;
}

a {
    color: brown;
    font-family: 'Trocchi';
}
