/* Styling for the html tag, this will center everything */
/**/
html {
    font-size: 25px;
    color: #314d3e;
    background: aliceblue;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 50px;
    white-space: nowrap;
}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

button {
    width: auto;
    white-space: normal;
    background-color: white;
    border: solid;
    border-radius: 10px;
    padding: 6px 15px;
    margin: 25px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    box-shadow: 0px 5px #999; /* X offset, Y offset, color */
}



